body {
    font-family: Poppins, sans-serif;
    font-size: 15px;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 5px;
    margin-top: 5px;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

main {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 15px; /* Space between grid items */
  padding: 0px; /* Add padding around the grid */
}

.snus-box-main {
  height: 170px;
  display: flex; /* Flexbox for content alignment */
  flex-direction: column; /* Align content vertically */
  align-content: space-between;
  align-items: center; /* Center-align the text and image */
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  text-align: center; /* Center-align text inside the box */
}

.snus-box-main img {
  max-height: 150px; /* Ensure the image doesn’t overflow */
  width: auto; /* Maintain aspect ratio */
}

.snus-box-main h3 {
  font-size: .95rem;
  color: #333;
  margin: 0;
  text-align: center;
  line-height: 1.3;
}

.snus-box {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.link-wrapper {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from surrounding elements */
    display: block; /* Make the link behave like a block element */
}

h1, h2, h3, h4 {
    color: #333;
    margin-top: 5px;
    margin-bottom: 10px;
}

.review {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.fullscreen-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any inline spacing */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}

.rating-box {
    display: flex;
    flex-direction: row;
}

#first {
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}


.progress-overlay {
  background-color:#e0e0e0; /* Gradient colors */
  /* border-radius: 10px 0 0 10px; Rounded left edge */
  height: 100%;
  z-index: 1;
}

.progress-bar-container {
    width: 80%;
    max-width: 600px;
    text-align: center;
    padding-left: 10%;
  }
  
  .progress-bar-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .progress-bar-labels span {
    flex: 1;
    text-align: center;
  }
  
  .progress-bar-color {
    position: relative;
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, 
        rgba(255, 0, 0, 0.9),  /* Red with 70% opacity */
        rgba(255, 165, 0, 0.9), /* Orange with 70% opacity */
        rgba(255, 255, 0, 0.9), /* Yellow with 70% opacity */
        rgba(144, 238, 144, 0.9), /* Light Green with 70% opacity */
        rgba(0, 128, 0, 0.9)   /* Green with 70% opacity */
    );
    overflow: hidden;
  }


  
  .indicator {
    position: absolute;
    /* top: -10px; */
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .progress-container {
    width: 42%;
    max-width: 300px;
    margin: 0 auto;

  }
  
  .progress-item {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .progress-bar {
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    height: 15px;
  }
  
  .progress {
    background-color: #000;
    height: 100%;
    width: 0;
    transition: width 0.3s ease;
  }




 
  
  .toggle-list {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .toggle-header {
    background-color: #f4f4f4;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toggle-header:hover {
    background-color: #f4f4f4;
  }
  
  .toggle-icon {
    font-weight: bold;
    font-size: 18px;
  }
  
  .toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .toggle-content ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color: #fff;
  }
  
  .toggle-content ul li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
  }
  
  .toggle-content ul li:last-child {
    border-bottom: none;
  }