body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    
    text-align: center;
}

main {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.snus-box {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.link-wrapper {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from surrounding elements */
    display: block; /* Make the link behave like a block element */
}

h1, h2 {
    color: #333;
}

.review {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.fullscreen-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any inline spacing */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}